 body{
    display: block;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(https://wallpaper-house.com/data/out/10/wallpaper2you_424011.jpg);
         }
title{
    display: inline; block-size: 50px;
    text-align: center; 
}

.header {
    text-align: center;

}

.profile {
    text-align: center;

}
